{% set price_table = appraisal.Prices|make_price_table %}
{% set totals = appraisal.totals() %}
{% macro print_row(item, highlight=False) -%}
  {% if item.name %}
    {% set details = item.name|type_details %}
    {% set prices = price_table[details.typeID] %}
    {% set qty = item.quantity|default(item.you|default(1)) %}
    {% set name = details.typeName %}
    {% if 'BLUEPRINT COPY' in item.details %}
      {% set name = '%s (copy)'|format(details.typeName) %}
      {% set prices = None %}
    {% endif %}
    {% if not details.market %}
      {% set prices = None %}
    {% endif %}

    <tr class="line-item-row {% if highlight %}error{%endif%}">
      <td style="text-align:right">{{ qty|comma_separated_int }}</td>
      <td>
          <div class="media">
            {% set market_url = "http://eve-central.com/home/quicklook.html?typeid=%s"|format(details.typeID) %}
            {% if is_from_igb() %}<a href="#" onclick="CCPEVE.showMarketDetails({{ details.typeID }})"> {% else %}<a href="{{market_url}}" target="_blank">{% endif %}<img class="pull-left media-object" src="http://image.eveonline.com/Type/{{ details.typeID }}_32.png" alt="{{ name }}"></a> &nbsp;<a href="{{market_url}}" target="_blank">{{ name }}</a>
          </div>
      </td>
      <td style="text-align:right">{{ details.volume|format_volume }}</td>
      {% if prices %}
      {% set representative_price = prices.sell.price or prices.buy.price %}
      <td style="text-align:right" data-sort="-{{ representative_price }}">
        <span class="nowrap">{{ prices.sell.price|format_isk }}</span><br />
        <span class="nowrap">{{ prices.buy.price|format_isk }}</span>
      </td> 
      <td style="text-align:right" data-sort="-{{ representative_price * qty|float }}">
        <span class="nowrap">{{ (prices.sell.price * qty|float)|format_isk }}</span><br />
        <span class="nowrap">{{ (prices.buy.price * qty|float)|format_isk }}</span>
      </td>
      <td style="text-align:right" data-sort="-{{ representative_price / details.volume }}">
        <span class="nowrap">{{ (prices.sell.price / details.volume)|format_isk }}</span><br />
        <span class="nowrap">{{ (prices.buy.price / details.volume)|format_isk }}</span>
      </td>
      {% else %}
      <td style="text-align:right" data-sort="-1"><span class="warning-message">Unknown</span></td> 
      <td style="text-align:right" data-sort="-1"><span class="warning-message">Unknown</span></td>
      <td style="text-align:right" data-sort="-1"><span class="warning-message">Unknown</span></td>
      {% endif %}
    </tr>
  {% endif %}
{%- endmacro %}
<div>
  <h4>
    <span class="nowrap">
      {{ totals.sell|format_isk_human }} <small>estimated <strong>sell</strong> value {% if appraisal.Market %} in {{ appraisal.Market|market_name }}{% endif %}</small>
    </span>
    &nbsp;&nbsp;
    <span class="nowrap">
      {{ totals.buy|format_isk_human }} <small>estimated <strong>buy</strong> value {% if appraisal.Market %} in {{ appraisal.Market|market_name }}{% endif %}</small>
    </span>
  </h4>

<table id="results" class="table table-striped table-condensed tablesorter">
  <thead>
    <tr>
      <th class="header" style="width: 5%">Qty</th>
      <th class="header" style="width: 60%">Item</th>
      <th class="header">Vol (m3)</th>
      <th class="header" style="text-align:right">Single&nbsp;(sell)<br />Single&nbsp;(buy)</th>
      <th class="header" style="text-align:right">Total&nbsp;(sell)<br />Total&nbsp;(buy)</th>
      <th class="header" style="text-align:right">ISK/m3&nbsp;(sell)<br />ISK/m3&nbsp;(buy)</th>
    </tr>
  </thead>
  <tbody>
  {% for kind, result in appraisal.result_list() %}
    {% if kind == 'eft' %}
      {{ print_row({'name': result.ship}) }}
      {% for item in result.modules %}
        {{ print_row(item) }}
      {% endfor %}
    {% elif kind == 'killmail' %}
      {{ print_row({'name': result.victim.destroyed}) }}
      {% for item in result.destroyed %}
        {{ print_row(item, True) }}
      {% endfor %}
      {% for item in result.dropped %}
        {{ print_row(item) }}
      {% endfor %}
    {% elif kind == 'chat' %}
      {% for item in result['items'] %}
        {{ print_row(item) }}
      {% endfor %}
    {% else %}

      {% for item in result %}
        {{ print_row(item) }}
      {% endfor %}
    {% endif %}
  {% endfor %}

  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" style="text-align: right"><span class="nowrap">Total Sell Value</span><br />
        <span class="nowrap">Total Buy Value</span><br />
        <span class="nowrap">Total Volume</span></td>
      <th colspan="2" style="text-align:right">
        <span class="nowrap">{{ totals.sell|format_isk }}</span><br />
        <span class="nowrap">{{ totals.buy|format_isk }}</span><br />
        <span class="nowrap">{{ totals.volume|format_volume }}m<sup>3</sup></span>
      </th>
      <td></td>
    </tr>
  </tfoot>
</table>
</div>

<script>
$(document).ready(function() {
  $("#results").tablesorter({
    {% if appraisal.Kind == 'cargo_scan' %}
        sortList: [[5,0]]
    {% else %}
        sortList: [[4,0]]
    {% endif %}
    });
});
</script>