{% extends "layout.%s.html"|format(config.TEMPLATE) %}
{% block title %}Appraisal History{% endblock %}

{% block body %}
    <div class="container">
      <div class="row">
        <div class="span12">
          <h4>Your Last 100 Appraisals</h4>
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th class="header">Id</th>
                <th class="header" style="text-align:right">Created</th>
                <th class="header" style="text-align:right">Sell Value</th>
                <th class="header"></th>
                <th class="header" style="text-align:right">Buy Value</th>
                <th class="header"></th>
                <th class="header">Public</th>
                <th class="header">Format</th>
              </tr>
            </thead>
            <tbody>
              {% for appraisal in appraisals %}
              {% set totals = appraisal.totals() %}
              <tr>
                <td><a href="{{ url_for('display_result', result_id=appraisal.Id) }}">#{{ appraisal.Id }}</a></td>
                <td style="text-align:right">{{ appraisal.Created|relative_time }}</td>
                <td style="text-align:right">{{ totals.sell|format_isk }}</td>
                <td><small>{{ totals.sell|format_isk_human }}</small></td>
                <td style="text-align:right">{{ totals.buy|format_isk }}</td>
                <td><small>{{ totals.buy|format_isk_human }}</small></td>
                <td>{{ appraisal.Public }}</td>
                <td><small>{{ appraisal.Kind|replace('_', ' ')|title }}</small></td>
              </tr>
              {% endfor %}
          </table>
        </div>
      </div>
    </div>
{% endblock %}
