{% extends "layout.%s.html"|format(config.TEMPLATE) %}
{% block extra_javascript %}
{{ super() }}
<script>
$(function() {
  $("#result_form").submit(function() {
    var result = $("#raw_textarea");
    var result_submit = $("#result_submit");
    // Disable form components
    result.attr("disabled", "disabled").addClass("disabled");
    result_submit.attr("disabled", "disabled").addClass("disabled");

    $.post("{{ url_for('estimate_cost') }}",
      {
        raw_paste: result.val(),
        hide_buttons: $("#hide-buttons").is(':checked'),
        paste_autosubmit: $("#paste-autosubmit").is(':checked'),
        market: $("#market").val(),
        {% if session['options']['share'] %}
          save: true,
        {% endif %}
      }, 
      function(data) {
        result.val('');
        // Enable form components
        result.removeAttr("disabled").removeClass("disabled");
        result_submit.removeAttr("disabled").removeClass("disabled");
        // Populate results
        $('#result_container').html(data);
        if (typeof(_gaq) != "undefined") {
          _gaq.push(['_trackEvent', 'estimate_cost', 'success']);
        }
        $('#paste-modal').modal('hide')
      }).error(function() {
        // Enable form components
        result.removeAttr("disabled").removeClass("disabled");
        result_submit.removeAttr("disabled").removeClass("disabled");
        alert("Server responded with an error.");
        if (typeof(_gaq) != "undefined") {
          _gaq.push(['_trackEvent', 'estimate_cost', 'fail']);
        }
      });
    return false;
  });

  $('#paste-modal').on('shown', function () {
      $('#raw_textarea').focus();
  })

  {% if session['options']['autosubmit'] %}
    $("#raw_textarea").bind('paste', function(e) {
        setTimeout(function() {
          $('#result_form').submit();
        }, 0);
    });
  {% endif %}

  {% if is_from_igb() %}
    $('#hide-buttons').prop('checked', true);
    $('#paste-autosubmit').prop('checked', true);
  {% endif %}
});
</script>
{% endblock %}
{% block body %}

<div id="paste-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="help-modal" aria-hidden="true">
  <form action="{{ url_for('estimate_cost') }}" method="post" style="margin-bottom:10px;" class="well well-small" id="result_form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>{{_('paste box title')}}</h3>
  </div>
  <div class="modal-body">
    <textarea class="input-block-level" id="raw_textarea" name="raw_textarea" rows="5" placeholder="{{_('paste box placeholder')}}"></textarea>
    <input type="hidden" name="load_full" value="1"/>
  </div>
  <div class="modal-footer">
    <div class="pull-left input-append">
      <select class="span3" id="market">
        <option value='30000142'>Jita</option>
        <option value='30002187'>Amarr</option>
        <option value='30002659'>Dodixie</option>
        <option value='30002510'>Rens</option>
        <option value='30002053'>Hek</option>
        <option value='-1'>Universe</option>
      </select>
    </div>
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{_('close buton')}}</button>
    <button type="reset" class="btn">{{_('reset button')}}</button>
    <button type="submit" id="result_submit" class="btn btn-primary">{{_('submit button')}}</button> 
  </div>
  </form>
</div>

<div class="row" style="margin-bottom:20px">
  <div class="pull-right">
    <a href="#paste-modal" data-toggle="modal"><button type="button" class="btn btn-primary">New Estimate</button></a>
  </div>
</div>

<div class="row">
  <div class="span12" id="result_container">
    {% block results %}

      <h4>{{_('what do i do title')}}</h4>
      <p>
         {{_('what do i do')}}
      </p>

      <h4>{{_('paste options title')}}</h4>
       {{_('paste options')}}
      
    {% endblock %}
  </div>
</div>
<div style="text-align:center">{{ adspace() }}</div>
{% endblock %}
