{% extends "layout.%s.html"|format(config.TEMPLATE) %}
{% block title %}Sign in{% endblock %}
{% block extra_style %}
<style type="text/css">
  .form-signin {
    max-width: 400px;
    margin: 0 auto 20px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
  }

  .openid-providers {
  	padding: 20px 0;
  }
</style>
{% endblock %}
{% block body %}

<div class="container">
  <form id="login_form" action="{{ url_for('login') }}" method="post" class="form-signin">
    <h2 class="form-signin-heading">Sign in with your OpenId</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
    <div class="openid-providers" style="text-align: center">
      <button class="btn" type="button" onclick="$('#openid_url').val('https://www.google.com/accounts/o8/id'); $('#login_form').submit()">Google</button>
      <button class="btn" type="button" onclick="$('#openid_url').val('http://yahoo.com/'); $('#login_form').submit()">Yahoo</button>
      <button class="btn" type="button" onclick="$('#openid_url').val('https://openid.stackexchange.com'); $('#login_form').submit()">Stack Exchange</button>
      <button class="btn" type="button" onclick="$('#openid_url').val('http://myopenid.com/'); $('#login_form').submit()">MyOpenID</button>
    </div>
    <div><input type="text" id='openid_url' name="openid" placeholder="Custom OpenId URL" class="input-block-level"></div>
    <input type="hidden" name="next" value="{{ next }}">
    <button class="btn btn-primary" type="submit">Sign in</button>
  </form>
</div>
{% endblock %}