{% extends "layout.%s.html"|format(config.TEMPLATE) %}
{% block extra_menu_items %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><label style="margin-left:10px;" class="checkbox"><input id="scan-hide-buttons" type="checkbox"> hide buttons</label></li>
              <li><label style="margin-left:10px;" class="checkbox"><input id="scan-autosubmit" type="checkbox"> autosubmit on paste</label></li>
            </ul>
          </li>
{% endblock %}
{% block body %}

    <div class="container">
      <div class="row">
        <div class="span5">
          <h4>Paste Scan Result</h4>
          <form action="{{ url_for('estimate_cost') }}" method="post" style="margin-bottom:10px;" class="well well-small" id="scan_result_form">
            <textarea class="input-block-level" id="scan_result" name="scan_result" rows="5" placeholder="paste scan result here. protip: ctrl+a, ctrl+c, ctrl+v"></textarea>
            <input type="hidden" name="load_full" value="1"/>
            <div class="controls">
              <div id="scan-buttons">
                <button type="submit" id="scan_result_submit" class="btn btn-primary">Submit</button> 
                <button type="reset" class="btn">Reset</button>
              </div>
            </div>
          </form>
        </div>
        <div class="span7" id="result_container">
          {% if error %}
            <div class="alert alert-error">
            <strong>Error:</strong> {{ error }}
          </div>
          {% endif %}
          {% block scan_results %}
            <h4>What do I do?</h4>
            <p>
              Scan down a ship using a cargo scanner, click a result in the scan result list that pops up, hit <strong>CTRL + A, hit CTRL + C</strong>, then click on the box in this page and hit <strong>CTRL + V</strong>. It will then give you a readout with more detail in place of this text.
            </p>

            {% endblock %}
        </div>
      </div>
    </div>
{% endblock %}