<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ship Scan Cost Estimator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style> 
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .row-highlight tr {
        background-color: #DDD;
      }
      .row-notpublished tr {
        background-color: #FFC0CB;
      }
      .nowrap {
        white-space: nowrap;
      }
      .container {
        padding-left: 10px;
        padding-right: 10px;
      }
      div.scan-result-area {
        padding: 0 20px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script>
      $(function() {
        $("#scan_result_form").submit(function() {
          var scan_textarea = $("#scan_result");
          var scan_submit = $("#scan_result_submit");
          // Disable form components
          scan_textarea.attr("disabled", "disabled").addClass("disabled");
          scan_submit.attr("disabled", "disabled").addClass("disabled");
          $.post("{{ url_for('estimate_cost') }}",
            {scan_result: scan_textarea.val()}, 
            function(data) {
              scan_textarea.val('');
              // Enable form components
              scan_textarea.removeAttr("disabled").removeClass("disabled");
              scan_submit.removeAttr("disabled").removeClass("disabled");
              // Populate results
              $('#result_container').html(data);
            }).error(function() {
              // Enable form components
              scan_textarea.removeAttr("disabled").removeClass("disabled");
              scan_submit.removeAttr("disabled").removeClass("disabled");
              alert("Server responded with an error.");
            });
          return false;
        });

        $("#scan_result").bind('paste', function(e) {
          if($('#scan_autosubmit:checked').length > 0) {
            setTimeout(function() {
                $('#scan_result_form').submit();
            }, 0);
          }
        });
      });
    </script> 
  </head>
  <body>
    <a href="https://github.com/sudorandom/cargoscanner"><img style="position: absolute; top: 0; right: 0; z-index:2000; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Ship Scan Cost Estimator</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span5">
          <h4>Paste Scan Result</h4>
          <form action="{{ url_for('estimate_cost') }}" method="post" class="well" id="scan_result_form">
            <textarea class="input-block-level" id="scan_result" name="scan_result" rows="5" placeholder="paste scan result here. protip: ctrl+a, ctrl+c, ctrl+v"></textarea>
            <label class="checkbox pull-right">
              <input id="scan_autosubmit" type="checkbox"> autosubmit on paste
            </label>
            <input type="hidden" name="load_full" value="1"/>
            <button type="reset" class="btn">Reset</button>
            <button type="submit" id="scan_result_submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="span7" id="result_container">
          {% if error %}
            <div class="alert alert-error">
            <strong>Error:</strong> {{ error }}
          </div>
          {% endif %}
          {% include "scan_results.html" %}
        </div>
      </div>
    </div>
    <footer><p align="center">Created by <a href="https://gate.eveonline.com/Profile/Magerawr" target="_blank">Magerawr</a>. Feel free to send me questions, suggestions or ISK</p></footer>
  </body>
</html>